<div class="card">
    <p-table #table [value]="datas" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}"
        styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">
                    <button pButton pRipple type="button" (click)="onRowAdd()" class="p-button-primary">Add
                    </button>
                </th>
                <th style="width:15%">ID</th>
                <th style="width:15%">Code</th>
                <th style="width:15%">Name</th>
                <th style="width:15%">Quantity</th>
                <th style="width:40%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="data">
                <td>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="data.id" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{data.id}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="data.code" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{data.code}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="data.name" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{data.name}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <input pInputText type="number" [(ngModel)]="data.quantity" />
                </td>
                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button *ngIf="!editing" pButton pRipple type="button" [rounded]="true" pInitEditableRow
                            (click)="onRowEditInit(data)" class="p-button-primary">Edit
                        </button>
                        <button *ngIf="!editing" pButton pRipple type="button" [rounded]="true"
                            (click)="onRowDelete(ri)" class="p-button-danger">Delete
                        </button>

                        <button *ngIf="editing" pButton pRipple type="button" [rounded]="true" pSaveEditableRow
                            (click)="onRowEditSave(data)" class="p-button-success">Save
                        </button>
                        <button *ngIf="editing" pButton pRipple type="button" [rounded]="true" pCancelEditableRow
                            (click)="onRowEditCancel(data, ri)" class="p-button-secondary">Cancel
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="4"></td>
                <td>{{sumQuantity()}}</td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</div>